/* CSS declarations go here */
.card {
  background-color: black;
  color: white;
  width: 112.5px;
  height: 168.75px;
  box-shadow: 10px 10px 5px #888888;
  display: table-cell;
}

.white {
  background-color: white;
  color: black;
  width: 112.5px;
  height: 168.75px;
  box-shadow: 10px 10px 5px #888888;
}

.card-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}

h3 { 
  text-align: center;
  display: inline-block;
}

#login-buttons a {
    background-color: white;
    text-decoration: none;
    color: black;
}

.btn-default:hover {
    background-color: white;
}

h1 { 
  text-align: center;
}

.text { 
  text-align: center;
}

.questionCard {
  clear: left;
  float: left;
}

/*.answerCards {
  clear: right;
  float: right;
}*/

.playerBoard {
  float: left;
}

.roundCounter {
  float: right;
}

.playCard {
  display: inline-block;
}
