/* CSS declarations go here */
.card {
  background-color: black;
  color: white;
  width: 200px;
  height: 300px;
  box-shadow: 10px 10px 5px #888888;
}

.white {
  background-color: white;
  color: black;
  width: 200px;
  height: 300px;
  box-shadow: 10px 10px 5px #888888;
}

.card-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h3 { 
  text-align: center;
}

#login-buttons a {
    background-color: white;
    text-decoration: none;
    color: black;
}

.btn-default:hover {
    background-color: white;
}
