/* CSS declarations go here */
.card {
  background-color: black;
  color: white;
  width: 175px;
  height: 250px;
  box-shadow: 5px 5px 5px #888888;
  display: table-cell;
}

.white {
  background-color: white;
  color: black;
  width: 175px;
  height: 250px;
  box-shadow: 5px 5px 5px #888888;
}

.card-content {
  width: 175px;
  height: 250px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  padding: 5px 10px;
}

.card-text {
  font-size: 19px;
  text-align: left;
  display: inline-block;
}

.expansion {
  font-size: 13px;
  text-align: left;
  display: block;
  position: absolute;
  bottom: 0;
}

#login-buttons a {
  background-color: black;
  text-decoration: none;
  color: white;
}

.btn-default, .btn-default:hover, .btn-default:active {
  background-color: black;
}

.text { 
  text-align: center;
}

.questionCard {
  clear: left;
}

/*.answerCards {
  clear: right;
  float: right;
}*/

.playerBoard {
  float: left;
}

.roundCounter {
  float: right;
}

.playCard {
  display: inline-block;
}

header {
  background-color: black;
}

.btn {
  position: relative;
  top: 50%;
  transform: translateY(25%);
  border-radius: 0;
  border: none;
}

.navbar-brand {
  color: white;
  font-family: 'Miss Fajardose', cursive;
  font-size: 7em;
  overflow: hidden;
  text-overflow: clip;
}

.accounts-dialog label {
  display: block;
}

#login-dropdown-list {
  background-color: black;
  color: white;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
  background-color: white;
  color: black;
}

#login-buttons .login-button, .accounts-dialog .login-button {
  background-color: black;
  color: white;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
  background-color: black;
}

#login-username-label, #login-password-label {
  color: white;
}

#login-username, #login-password, #login-password-again {
  color: black;
}

.bs-docs-container#player {
  background-color: black;
  color: white;
  padding: 30px 0;
}

