/* CSS declarations go here */

.container {
  width: 1350px;
}

/****** Navbar Group ******/
.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  color: white;
  font-family: 'Miss Fajardose', cursive;
  font-size: 7em;
  overflow: hidden;
  text-overflow: clip;
}

header {
  background-color: black;
}

#login-buttons a,
.playerButton {
  background-color: black;
  text-decoration: none;
  color: white;
}

.btn-default, .btn-default:hover, .btn-default:active {
  background-color: black;
}

.btn {
  position: relative;
  top: 50%;
  transform: translateY(25%);
  border-radius: 0;
  border: none;
}

.accounts-dialog label {
  display: block;
}

#login-dropdown-list {
  background-color: black;
  color: white;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
  background-color: white;
  color: black;
}

#login-buttons .login-button, .accounts-dialog .login-button {
  background-color: black;
  color: white;
}

.btn-default, .btn-default:hover, .btn-default:active, .btn-default:focus {
  background-color: black;
}

#login-username-label, #login-password-label {
  color: white;
}

#login-username, #login-password, #login-password-again {
  color: black;
}

#login-dropdown-list {
  left: -50px;
}

/*** End of Navbar Group ***/


/******* Card Group ********/
.card {
  background-color: black;
  color: white;
  width: 125px;
  height: 185px;
  border-radius: 3px;
  display: table-cell;
}

.white {
  background-color: white;
  color: black;
  width: 125px;
  height: 185px;
  border: 1px solid black;
  border-radius: 3px;
}

.card-content {
  width: 125px;
  height: 185px;
  position: relative;
  border-radius: 3px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  padding: 5px;
}

.card-text {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  display: inline-block;
}

.expansion {
  font-size: 7px;
  text-align: left;
  display: block;
  position: absolute;
  bottom: 0;
}
/**** End of Card Group ****/


/***** Gameboard Group *****/
.bs-docs-header {
  margin-bottom: 25px;
}

.answerCards {
  background-color: white;
  color: black;
  width: 125px;
  height: 185px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 2px;
}

.pickWinner {
  border: 1px solid black;
  background-color: white;
}

.questionCard {
  clear: left;
  display: inline-block;
}

.playerBoard {
  float: left;
}

.roundCounter {
  float: right;
}
/* End of Gameboard Group **/


/**** Playerhand Group *****/
.bs-docs-container#player {
  background-color: black;
  color: white;
  padding-bottom: 30px;
}

.playerButton {
  border: 1px solid white;
  width: 5em;
}

.text {
  text-align: center;
}

.playCard {
  display: inline-block;
}
/* End of Playerhand Group */


