<template name="gameBoard">
  <div class="gameBoard container">
    <div class="scoreboard">
    <!-- Display all user scores -->
      <div class="playerBoard">
          <h4>Currently there are {{numPlayers}} players in the room.</h4>
          <ul>
            {{#each playas}}
              <li>
                <strong>{{username}}</strong> - Score: {{score}}
              </li>
            {{/each}}
          </ul>      
      </div>
       
      <div class="roundCounter">
        <!-- Keep track of round progress -->
        {{#if roundOver}}
          <h3>ROUND OVER</h3>
        {{else}}
          <h4>Number of cards - </h4>
          <p class="text">
          <!-- need a helper function that determines cardsPlayed during each round -->
            In play: {{cardsPlayed}}
          </p>
          <p class="text">
            Left to be played: {{cardsLeft}}
          </p>
          {{/if}}      
      </div>
    </div>


    <!-- Subtle line separating the cards in play on the board from the scoreboard -->
    <div class='row'>
      <div class='col-md-12'>
        <hr>
      </div>
    </div>

    {{#if judge}}
      <h3>You're the Motha Fuckin' JUDGE</h3>
    {{/if}}

    <div class="row cardsInPlay">
    <!-- Contains all cards currently in play -->
      <div class="col-md-2 questionCardContainer">
        <div class="questionCard">
        <!-- Display current question card for all players to see -->
          {{#each question}}
            {{> blackCard}}
          {{/each}}
        </div>
      </div>

      <div class="col-md-10 answerCardsContainer">
        <div class="answerCards">
      <!-- Display all currently played answer cards -->
          <ul>
            {{#each answers}}
              <li class="playedWhite">{{text}}</li>

            <!-- {{#if judge}} -->
              <span>UserName - {{playedBy}}</span><br>
              <button class="pickWinner">CHOOSE</button>
            <!-- {{/if}} -->
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
      
  </div>

</template>
