<template name="gameBoard">
  <div class="gameBoard container">
    <div class="scoreboard">
    <!-- Display all user scores -->
      <div class="playerBoard">
          <h4>Currently there are {{numPlayers}} players in the room.</h4>
          <ul>
            {{#each users}}
              <li>
                <strong>{{username}}</strong> - Score: {{score}}
              </li>
            {{/each}}
          </ul>      
      </div>
       
      <div class="roundCounter">
        <!-- Keep track of round progress -->
        {{#if allCardsPlayed}}
          <h3>ROUND OVER</h3>
          {{#if winnerChosen}}
            <button id="nextRound">Let's play another, you smarmy wench</button>
          {{/if}}
        {{else}}
          <h4>Number of cards - </h4>
          <p class="text">
          <!-- need a helper function that determines cardsPlayed during each round -->
            In play: {{cardsPlayed}}
          </p>
          <p class="text">
            Left to be played: {{cardsLeft}}
          </p>
          {{/if}}      
      </div>
    </div>


    <!-- Subtle line separating the cards in play on the board from the scoreboard -->
    <div class='row'>
      <div class='col-md-12'>
        <hr>
      </div>
    </div>

    {{#if currentUser.judge}}
      <h3>You're the Motha Fuckin' JUDGE</h3>
    {{/if}}

    <div class="row cardsInPlay">
    <!-- Contains all cards currently in play -->
      <div class="col-md-2 questionCardContainer">
        <div class="questionCard">
        <!-- Display current question card for all players to see -->
          {{#each question}}
            {{> blackCard}}
          {{/each}}
        </div>
      </div>

      <div class="col-md-10 answerCardsContainer">
        <!--<div class="answerCards">-->
        <!-- Display all currently played answer cards -->
          {{#each answers}}
            <div class="answerCards">
              {{> whiteCard}}
            </div>

            <!-- {{#if judge}} -->
              <!--<span>UserName - {{playedBy}}</span><br>-->
              <!--<button class="pickWinner">CHOOSE</button>-->
            <!-- {{/if}} -->
          {{/each}}
        <!--</div>-->
      </div>
    </div>
      
  </div>

</template>
