<head>
  <title>Cards Against Sobriety</title>
</head>

<body>
  <h1>Welcome to Cards Against Sobriety <br>Let's get DRUNK!</h1>

  <div class="gameBoard container">
    <div class="scoreboard">
    <!-- Display all user scores -->
      <h3>Scoreboard</h3>
        <ul>
          {{#each users}}
            <li>
                {{user.username}} - {{user.score}}
            </li>
          {{/each}}
        </ul>
     
      <!-- Keep track of round progress -->
      <h3>Number of cards - </h3>
        <span class="text">
        <!-- need a helper function that determines cardsPlayed during each round -->
          In play: {{cardsPLayed}}
        </span>
          <br>
        <span class="text">
        <!-- need a helper function that determines cardsLeft during each round
        ie: cardsLeft = (users -1 - cardsPlayed) need to remember to subtract 1 to account for the judge -->
          Left to be played: {{cardsLeft}}
          <!-- create a listener that checks for when cardsLeft === 0, initiate judge's turn to pick, then end of round. -->
        </span>
    </div>

    <div class="questionCard">
    <!-- Display current question card for all players to see -->
      {{> blackCard}}
    </div>

    <div class="answerCards">
      <ul>
      <!-- Only display white.card front to the user if they are currently the 'judge' -->
        {{#each whiteCards.played}}
          {{#if currentUser.judge}}
            <li>
              {{> whiteCard.front}}
            </li>
          {{else}}
            <li>
              {{> whiteCard.back}}
            </li>
          {{/if}}        
        {{/each}}
      </ul>
    </div>
  </div>

</body>
