<template name="playerHand">
<h1>Player Hand</h1>
  <div class="playerHand container">
    <h4>Your Score: {{player.username}}</h4>
    <button class="clearBoard">CLEAR</button>
    <button class="dealHand">Deal</button>
    <button class="rotateJudge">Rotate</button>
      <div class="answerCards">
        <h3>Your Hand</h3>
        <ul>
          {{#each playsHand}}
            <li class="playCard">
              {{text}}<br>
              {{owner}}
            </li>
          {{/each}}
        </ul>
      </div>
      
      <div class="questionCards">
        <!-- This is where we can put each of the cards a user has 'won' -->
      </div>
  </div>
</template>  