<!-- Template that shows the cards dealt to each player -->

<template name="playerHand">
<h1>Your Cards: Choose wisely. Or, not. Whatever.</h1>
  <div class="playerHand container">
    <h4>Your Score: {{currentUser.score}}</h4>
    <!-- button group to deal a new hand and to clear the played cards -->
    <button class="playerButton" id="dealHand">DEAL</button>
    <button class="playerButton" id="clearBoard">CLEAR</button>
    <h3>Your Hand</h3>
      <!-- handlebars each method that displays 10 random cards for each player -->
      {{#each playsHand}}
        <div class="playCard">
          {{> whiteCard}}
        </div>
      {{/each}}

    <div class="questionCards">
        <!-- This is where we can put each of the cards a user has 'won' -->
      </div>
  </div>
</template>  
